/* General */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Merriweather', serif;
  background-color: #e5eaf0;
}



/* Main */

header {
  background-color: #2d3945;
  color: white;
  width: 100%;
  margin: 0;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}
/* make header full width */

header h1 {
  font-size: 21px;
}

#wrapper {
  width: 95%;
  margin: 0 auto;
}
/* 95% width for main content */

.top-content {
  text-align: center;
}

.top-content h1 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.top-content p {
  font-size: 12px;
  color: grey;
}

.hr1, .hr2 {
  background-color: #2d3945;
  color: #2d3945;
  border-color: #2d3945;
  width: 92.5%;
}
/* divider - line break */

.hr1 {
  height: 2.5px;
}

.hr2 {
  height: 1px;
}

form {
  margin: 10px auto;
  padding: 10px 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  border: none;
  font-size: 12px;
  height: auto;
  margin-top: 10px;
	margin-bottom: 30px;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e0e3e8;
  color: grey;
  box-shadow: 0 2.5px 0 rgba(0,0,0,0.03) inset;
}
/*  */

textarea {
  resize: none;
  height: 100px;
}

fieldset {
  border: none;
}

legend {
  margin-bottom: 25px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

.spacing-top {
  padding-bottom: 10px;
}

.spacing-middle {
  padding-top: 25px;
  padding-bottom: 10px;
}


.spacing-bottom {
  padding-top: 25px;
}

input,
select,
button,
textarea {
	border-radius: 5px;
}

button {
  padding: 25px 40px 20px 40px;
  color: white;
  background-color: #4ebbb5;
  font-size: 15px;
	margin-bottom: 10px;
  text-align: center;
  width: 100%;
  border: 1px solid #4ebbb5;
  border-width: 1px 1px 2.5px;
  box-shadow: 0 2.5px 0 rgba(255,255,255,0.05) inset;
	outline: 0;
}

label {
  color: grey;
}

input:focus {
	border: 1.5px solid #2d3945;
}

textarea:focus {
	border: 1.5px solid #4ebbb5;
}

::placeholder {
	text-align: right;
	font-size: 10px;
	color: red;
}

#number::placeholder {
	text-align: left;
	font-size: 10px;
	color: grey;
}

#address::placeholder {
	text-align: left;
	font-size: 10px;
	color: grey;
}

#city::placeholder {
	text-align: left;
	font-size: 10px;
	color: grey;
}

#postal::placeholder {
	text-align: left;
	font-size: 10px;
	color: grey;
}

input:focus,
textarea:focus,
select:focus {
  transition: 0.25s ease;
  background-color: white;
}
/* transition */

select {
  padding: 10px;
  height: 45px;
}



/* Media Query */

@media (min-width: 768px) {

  #wrapper {
    width: 70%;
    margin: 0 auto;
  }


  .top-content h1 {
    font-size: 21px;
  }

  .top-content p {
    font-size: 15px;
  }

  .rows {
    display: flex;
    flex-direction: row;
  }

  .form-1 label {
    flex-basis: 50%;
    max-width: 150px;
    padding-top: 20px;
  }

}
